.PostBio {
    display: flex;
}

.PostBio__image {
    margin-right: 1rem;
    height: 5rem;
}

.PostBio__content > *:first-child {
    margin-top: 0;
}

.PostBio__content > *:last-child {
    margin-bottom: 0;
}

.PostBio__social-list {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
}

.PostBio__social-item {
    align-items: center;
    display: flex;
}

.PostBio__social-item:not(:last-child) {
    margin-right: 2rem;
}

.PostBio__social-icon {
    margin-right: 0.5rem;
}

@media screen and (max-width: 800px) {
    .PostBio {
        flex-direction: column;
    }

    .PostBio__image {
        border-radius: 5rem;
        height: initial;
        margin: 0 auto 1rem;
        width: 8rem;
    }

    .PostBio__social-list {
        align-items: flex-start;
        flex-direction: column;
    }

    .PostBio__social-item:not(:last-child) {
        margin: 0 0 1rem;
    }

    /* .PostBio > *:not(:last-child) {
        margin: 0 0 1rem;
    } */
}