/* Modified styles */

.SearchLink--categories {
    text-transform: capitalize;
}

.SearchLink--tags:not(:last-child) {
    margin-right: 0.25rem;
}

.SearchLink--tags:not(:last-child)::after {
    content: ','
}